* li{
    list-style:none;

}
/**{*/
    /*font-size:0.24rem;*/
/*}*/
.hide{display:none;}
.layui-layer-btn0{
    font-size:0.24rem!important;
}
.Container{
    width: 7.5rem;
    overflow:hidden;
/*    overflow-x: hidden;
    overflow-y: scroll;*/
}

.layui-layer-demo .layui-layer-content{
    padding:0.2rem;
    font-size: 0.2rem;
}

#part_bottom{
    width: 7.5rem;
    height: 0.14rem;
}
#part_bottom img{
    width:100%;
}
.part_4{
    width:100%;
    height:11.63rem;
    background:url(../images/part_4.jpg);
    background-size:100%;
    overflow:hidden;
}
.part_5{
    width:100%;
    height:7.5rem;
    background:url(../images/part_5_bg.jpg);
    background-size:100%;
}
#part_5 .descContent{
    width:100%;
}
#part_5 .descContent .desc{
    width:4.8rem;
    margin: 0 auto;
    margin-top: 0.47rem;
    /*margin-right:80rem;*/
}
#part_5 .descContent .desc h2{
    font-size:0.37rem;
    line-height:0.45rem;
    margin-top: 0.4rem;
    font-weight:normal;
}
#part_5 .descContent .desc p{
    color: #6e6e6e;
    font-size: 0.15rem;
    line-height: 0.2rem;
    margin-top:0.24rem;
}
#part_5 .descContent .nextBtn{
    text-align: right;
    padding-top:58px;
    width: 398px;
}
#part_5 .descContent .miniSwiper{
    width:3.81rem;
    height: 4.49rem;
    margin:0 auto;
    margin-top: 0.4rem;
}
#part_5 .descContent .miniSwiper .swiper-slide{
    height:4.49rem;
}
#part_5 .descContent .miniSwiper .swiper-slide img{
    height:4.49rem;
}



#part_5 .title{
    width: 3.28rem;
    /*height:6.23rem;*/
    display: block;
    margin:0 auto;
    padding-top: 0.55rem;
}
.layui-layer{box-shadow: none;}


#part_1{
    width: 7.5rem;
    height:7.5rem;
    background: url("../images/part_1_bg.jpg");
    background-size:100% 100%;
    position: relative;
}
#part_1 img.text{
    width: 4.7rem;
    position: absolute;
    left: 0.62rem;
    top: 1.02rem;
}
#part_1 img.logo{
    width:0.45rem;
    position: absolute;
    top: 0.26rem;
    right: 0.5rem;
}
#part_4 .title{
    /*position: relative;*/
    margin-top: -0.47rem;
    width: 3.28rem;
    margin-left: 0.53rem;
}
#part_4 .btn{
    width: 2.44rem;
    height: 0.54rem;
    line-height: 0.54rem;
    background: #c69c6d;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.22rem;
    border-radius: 0.04rem;
    margin-top: 0.24rem;
    margin-left: 0.8rem;
    /*margin-left: 120px;*/
}
#part_4 .text{
    width:5.2rem;
    color:#666666;
    line-height: 0.32rem;
    font-size: 0.2rem;
    margin-left: 0.8rem;
    font-weight:bold;
}

#part_2{
    width: 7.5rem;
    height:5.57rem;
    position: relative;
    background-image: url(../images/part2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
#part_2 .title{
    width:100%;
    text-align: center;
    padding-top: 0.59rem;
}
#part_2 .title img{
    width: 3.27rem;
}

#part_2 .rightForm{
    width: 5.7rem;
    margin:0 auto;
    font-size: 0.16rem;
    margin-top: 0.16rem;
}
#part_2 .rightForm li{
    float: left;
    width: 2.69rem;
    height: 0.49rem;
    margin-bottom: 0.2rem;

}
#part_2 .rightForm li.checkMsg{
    font-size: 0.18rem;
    line-height: 0.24rem;
    font-weight:bold;
}

#part_2 .rightForm li .btn{
    width: 1.43rem;
    height: 0.49rem;
    color: #ffffff;
    font-weight:bold;
    text-align: center;
    line-height: 0.49rem;
    -webkit-border-radius: 0.05rem;
    -moz-border-radius: 0.05rem;
    border-radius: 0.05rem;
    background: #c38c64;
    float:right;
    cursor:pointer;
}

#part_2 .rightForm input[type='checkbox']{
    /*vertical-align: -1px;*/
    margin-top:-0.02rem;
    -webkit-appearance:none;
    appearance:none;
    width:0.18rem;
    height: 0.18rem;
    background-image: url(../images/check_off_21.png);
    background-size: 100% 100%;
}
#part_2 .rightForm input[type='checkbox']:checked{
    background-image: url(../images/check_on_21.png);
    background-size: 100% 100%;
}
#part_2 .rightForm input[type='text'],#part_2 .rightForm select, #part_2 .rightForm input[type='phone']{
    width: 2.69rem;
    height: 0.49rem;
    line-height: 0.49rem;
    border: 1px solid #8f8f8f;
    color: #8f8f8f;
    -webkit-border-radius:0.04rem;
    -moz-border-radius:0.04rem;
    border-radius:0.04rem;
    font-weight:bold;
    padding-left: 0.1rem;
    background: #ffffff;
}
#part_2 .rightForm select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-image: url("../images/selectBg_10.png");
    background-position: right center;
    background-repeat: no-repeat;
}
#part_2 .rightForm #delear{
    width: 5.56rem;
}

#part_3{
    width: 7.5rem;
    height: 11.7rem;
    background:#fff;
    position: relative;
    background:url(../images/part3.jpg);
    background-size:100%;
    overflow:hidden;
}
/*浮动表单*/
#part_3 .rightForm{
    width:7rem;
    height:6.4rem;
    border-radius:0.07rem;
    background-color:#e9472d;
    overflow:hidden;
    z-index: 2;
    left: 0.25rem;
    top: -0.6rem;
}
#part_3 .rightForm .left_top_arrow{
    width: 0;
    height: 0;
    border-top: 0.5rem solid #333333;
    border-right: 0.5rem solid transparent;
    position:absolute;
    left:0;
    top:0;
}
#part_3 .hint{
    color:#fff;
    font-size:0.2rem;
    text-align:center;
}
#part_3 .rightForm .title{
    font-size:.4rem;
    font-weight:bold;
    text-align:center;
    width:100%;
    margin:.35rem 0;
    color:#fff;
}
#part_3 .rightForm ul{
    margin:0 auto;
    width:5.7rem;
}
#part_3 .rightForm li{
    float: left;
    /*width:208px;*/
    margin-bottom:.12rem;
    font-size:0.18rem;
}
#part_3 .rightForm li.checkMsg{
    font-size:.14rem;
    line-height:.18rem;
    font-weight:bold;
    margin-top:0.1rem;
}
#part_3 .rightForm .btn{
    cursor:pointer;
    width:2.66rem;
    height:0.6rem;
    color: #ffffff;
    font-weight:bold;
    text-align: center;
    line-height:.6rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    background: #333333;
    margin: 0.2rem auto 0.5rem 1.47rem;
}
#part_3 .rightForm input[type='checkbox']{
    /*vertical-align: -1px;*/
    margin-top:-.02rem;
    -webkit-appearance:none;
    appearance:none;
    width:.18rem;
    height:.18rem;
    background-image: url(../images/check_off_21.png);
    background-size: 0.18rem 0.18rem;
}
#part_3 .rightForm input[type='checkbox']:checked{
    background-image: url(../images/check_on_21.png);
}
#part_3 .rightForm input[type='text'],select,input[type='phone']{
    width: 2.77rem;
    height:.6rem;
    line-height: .6rem;
    color: #000;
    -webkit-border-radius:.03rem;
    -moz-border-radius:.03rem;
    border-radius:.03rem;
    font-weight:bold;
    padding-left:.2rem;
    background: #ffffff;
}
#part_3 .rightForm select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-image: url("../images/selectBg_10.png");
    background-position: right center;
    background-repeat: no-repeat;
}
#part_3 .rightForm #delear{
    width:5.66rem;
}




#part_4 .rightForm{
    width: 4.58rem;
    /*margin:0 auto;*/
    font-size: 0.16rem;
    /*margin-top: 3.16rem;*/
    overflow: hidden;
    margin-left: 0.78rem;
    margin-top: 0.36rem;
}
#part_4 .rightForm li{
    float: left;
    width: 1.72rem;
    height: 0.32rem;
    margin-bottom: 0.14rem;

}
#part_4 .rightForm li.checkMsg{
    font-size: 0.14rem;
}
#part_4 .rightForm input[type='checkbox']{
    /*vertical-align: -1px;*/
    margin-top:-0.04rem;
    -webkit-appearance:none;
    appearance:none;
    width:0.24rem;
    height: 0.24rem;
    background-color: rgba(0,0,0,0);
    background-image: url(../images/check_off_21.png);
    background-size: 100% 100%;
}
#part_4 .rightForm input[type='checkbox']:checked{
    background-color: rgba(0,0,0,0);
    background-image: url(../images/check_on_21.png);
    background-size: 0.24rem 0.24rem;
}
#part_4 .rightForm input[type='text'],#part_4 .rightForm select, #part_4 .rightForm input[type='phone']{
    width: 1.72rem;
    height: 0.32rem;
    line-height: 0.32rem;
    border: 1px solid #8f8f8f;
    color: #8f8f8f;
    -webkit-border-radius:0.04rem;
    -moz-border-radius:0.04rem;
    border-radius:0.04rem;
    font-weight:bold;
    padding-left: 0.1rem;
    background-color: rgba(0,0,0,0);
}
#part_4 .rightForm select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-image: url("../images/selectBg_10.png");
    background-size: 0.184rem 0.09rem;
    background-position: right center;
    background-repeat: no-repeat;
}
#part_4 .rightForm select[name='delear']{
    width: 3.66rem;
}
.part_7{
    /* height:12.72rem; */
    /* background:url(../images/part_7.jpg); */
    background:url(../images/bg7.png);
    background-size:100%;
    padding: 30px 0;
}
.part_7 img{
    width: 100%;
}
.mp{
    width: 84%;
    margin: auto;
}
.mpH{
    width: 80%;
    color: #fff;
    font-size: .26rem;
}
.mpH h1{
    font-size: .4rem;
    font-weight: normal;
    padding: 15px 0;
}
.mpH p{
    text-align: justify;
    color: #e5e5e5;
}
.mpH a{
    display: block;
    text-align: right;
    color: #e5e5e5;
    text-decoration: none;
    margin-top: 15px;
}
.mp2{
    margin-top: 30px;
}
.mpH2{
    text-align: right;
    margin-left: 15%;
    width: 85%;
}


#part_6{position:relative;}
#part_6 .big_video{
    margin:.45rem auto .4rem
}
#part_6 .play{
    position:absolute;
    cursor:pointer;
    left: 45%;
    top: 27%;
    width:0.7rem;
}
#part_6 .big_video img{
    width:6.9rem;
    box-shadow: .02rem .02rem .1rem rgba(0,0,0,.5);
    display:block;
    margin:0 auto;
}
#part_6 .video_bar{
    width:100%;
    background-color:#e4e4e4;
    background-image:url(../images/arrow_l.png),url(../images/arrow_r.png);
    background-position: 5% center,95% center;
    background-repeat: no-repeat;
    background-size: 0.15rem;
}
#part_6 .video_bar img{
    width:2rem;
    float:left;
    cursor:pointer;
}
#part_6 .next,#part_6 .prev{
    width:1.68rem;
}
#part_6 .prev{
    position:relative;
    cursor: pointer;
    left: 4%;
}
#part_6 .next{
    position:relative;
    cursor: pointer;
    right: -47%;
}
.submit_form{
    width:5.4rem;
    margin:0 auto;
}
#part_3 .submit_form{
    margin-top:4.2rem;
}
#part_4 .submit_form{
    margin-top:2.5rem;
}
#part_4 .submit_form input:not([type='checkbox']),#part_4 .submit_form select{
    background-color:#fff;
}
#part_4 .cookie{
    display: block;
    width: 3.4rem;
    margin-left: 0.8rem;
    margin-top: 0.6rem;
    cursor:pointer;
}
#part_4 .cookie.shrink{
    -webkit-animation:bounceIn 1s .2s ease both;
    -moz-animation:bounceIn 1s .2s ease both;
}
@-webkit-keyframes bounceIn{
    0%{opacity:0;
    -webkit-transform:scale(.3)}
    50%{opacity:1;
    -webkit-transform:scale(1.05)}
    70%{-webkit-transform:scale(.9)}
    100%{-webkit-transform:scale(1)}
}
@-moz-keyframes bounceIn{
    0%{opacity:0;
    -moz-transform:scale(.3)}
    50%{opacity:1;
    -moz-transform:scale(1.05)}
    70%{-moz-transform:scale(.9)}
    100%{-moz-transform:scale(1)}
}
#part_4 .get_vcode{
    background-color:#c3623e;
}
#part_4 .btn1{
    margin-left:0;
    background-color:#c3623e;
}
#part_4 .rule1,#part_4 .winner_list{
    margin-left:.2rem;
    background-color:#736357;
    width:1.16rem;
}
.submit_form li{
    float:left;
    margin-bottom:.10rem;
    /*width:2.6rem;*/
    height:0.53rem;
}
.submit_form li.checkMsg{
    font-size:0.14rem;
    line-height:.18rem;
    font-weight:bold;
}
.submit_form li .btn{
    cursor:pointer;
    height:.53rem;
    color: #ffffff;
    font-weight:bold;
    text-align: center;
    line-height:.50rem;
    -webkit-border-radius: .05rem;
    border-radius: .05rem;
    font-size:.18rem;
    float:left;
}
.submit_form .btn1{
    width:2.6rem;
    background: #e9472d;
    margin-left:.3rem;
    font-size:.25rem !important;
}
.submit_form .rule1{
    width:1.70rem;
    background-color:#4d4d4d;
    margin-left:.70rem;
}
.submit_form input[type='checkbox']{
    /*vertical-align: -1px;*/
    margin-top:-.02rem;
    -webkit-appearance:none;
    appearance:none;
    width: .25rem;
    height: .25rem;
    background-image: url(../images/check_off_21.png);
    background-size: 100%;
}
.submit_form input[type='checkbox']:checked{
    background-image: url(../images/check_on_21.png);
}
.submit_form input[type='text'],select,input[type='phone']{
    width: 2.60rem;
    height:.53rem;
    line-height: .36rem;
    color: #000;
    -webkit-border-radius:.03rem;
    -moz-border-radius:.03rem;
    border-radius:.03rem;
    font-weight:bold;
    font-size:.16rem;
    padding-left:.10rem;
    background: #e6e6e6;
}
.submit_form .get_vcode,.submit_form .vcode_count_down{
    width:2.60rem;height:.53rem;line-height:.53rem;
    font-size:.16rem;
    font-weight:bold;
    border-radius:.05rem;
    color:#fff;
    background-color:#e9472d;
    text-align:center;
    margin-left:.1rem;
}
.submit_form .get_vcode{cursor:pointer;}
.submit_form .vcode_count_down{display:none;}
.submit_form select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-image: url("../images/selectBg_10.png");
    background-position: right center;
    background-repeat: no-repeat;
}
.submit_form .dealer{
    width:5.3rem;
}
.submit_form .copyright{
    font-size:0.16rem;
}
.mask{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,.4);
    display:none;
    width:100%;height:100%;
}
.mask .popup{
    width:100%;height:100%;
}
#popup_1{
    background:url('../images/popup_1.png') center no-repeat;
    background-size:7rem;
}
#popup_2{
    background:url('../images/popup_2.png') center no-repeat;
    background-size:7rem;
}
#popup_cookie_not{
    background:url('../images/popup_cookie_fail.png') center no-repeat;
    background-size:7rem;
}
#popup_cookie_win{
    position: relative;
    width:7rem;height:7rem;
    background:url(../images/popup_cookie_win.png) center no-repeat;
    background-size:100%;
    overflow:hidden;
}
#popup_cookie_win input::-webkit-input-placeholder{
    color:#000;
}
#popup_cookie_win input:-moz-placeholder{
    color:#000;
}
#popup_cookie_win input::-moz-placeholder{
    color:#000;
}
#popup_cookie_win input:-ms-input-placeholder{
    color:#000;
}
#popup_cookie_win .content>*:not(span){
    display:block;
    width: 4rem;
    height: .5rem;
    border-radius: 0.05rem;
}
#popup_cookie_win .content{
    height: 2.21rem;
    margin: 2.92rem 0 0 0.2rem;
}
#popup_cookie_win input{
    background:#fff;
    padding-left:.25rem;
    font-size:.16rem;color:#000;
    margin:0 auto .07rem;
}
#popup_cookie_win .content span{
  position: absolute;
  right: 1.5rem;
  top: 4.13rem;
  font-size: .16rem;
  color: #e9472d;
}
#popup_cookie_win .btn{
    text-align: center;
    color: #fff;
    line-height: .46rem;
    font-weight: bold;
    font-size: .2rem;
    background: #e9472d;
    margin-top: .3rem;
    cursor: pointer;
    margin-left: 1.4rem;
}
#popup_cookie_win .close{
    width: .45rem;
    height: .45rem;
    position: absolute;
    bottom: .46rem;
    left: 47%;
}
#popup_win{
    position:relative;
    width:5.79rem;height:8.44rem;
    background:url(../images/popup_win.png) center no-repeat;
    background-size:100%;
    overflow:hidden;
}
#popup_win input::-webkit-input-placeholder{
    color:#fff;
}
#popup_win input:-moz-placeholder{
    color:#fff;
}
#popup_win input::-moz-placeholder{
    color:#fff;
}
#popup_win input:-ms-input-placeholder{
    color:#fff;
}
#popup_win .content{
    width: 5rem;
    height: 3rem;
    margin: 3.95rem 0 0 .54rem;
}
#popup_win .content input{
    display:block;
    width:4.7rem;height:.63rem;line-height:.63rem;
    color:#fff;
    background:rgba(0,0,0,.25);border-radius:.05rem;
    padding-left:.34rem;
    font-size:.20rem;
    margin-bottom:.12rem;
}
#popup_win .content span{
  position: absolute;
  right: .78rem;
  /* line-height: 60px; */
  font-size: 0.2rem;
  color: #fdd22b;
  top: 5.6rem;
}
#popup_win .content .btn{
    width:4.72rem;height:.64rem;line-height:.64rem;
    color:#000;font-size:.24rem;font-weight:bold;
    text-align:center;
    background:#fdd22b;
    border-radius: .05rem;
    margin-top:.3rem;
}
#popup_win .content .close{
    position:absolute;
    width:.47rem;height:.47rem;
    right: .53rem;
    top: .53rem;
}
#reward_list{
    width:7rem;height:10rem;
    background:url('../images/reward_list.png');
    background-size: 100%;
    position:relative;
    font-size:.18rem;
    padding-top:1.9rem;
}
#reward_list div{
    text-align:center;
    line-height:.70rem;
}
#reward_list div span{
    margin:0 .1rem 0 .05rem;
}
#reward_list div i{
    display:inline-block;
    width:.6rem;
    text-align:center;
}
#reward_list .close{
    position: absolute;
    top: .22rem;
    right: .23rem;
    width: .6rem;
    height: .6rem;
}
.mask>*{display:none;}