li{
    list-style: none;
}
body{
    font-size: 12px;
    color: #000000;
    background: rgb(255,255,255);
}
body .pc.container{
    width:100%;
}
body .pc.container .context{
    width:100%;
}
body .pc.container .context .content{
    width:1024px;
    margin:0 auto;
}
.hide{display:none;}
.layui-layer-demo .layui-layer-content{
    padding:20px;
}
.layui-layer{box-shadow: none;}
.click_close img{width:100%;}
#part_bottom{
    width: 100%;
    background: rgb(57,58,59);
    height: 17px;
    line-height: 18px;
    text-align: center;
}
#part_4 .btn{
    width:212px;
    height:48px;
    line-height:48px;
    background: #c69c6d;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 32px;
    margin-left: 120px;
}
#part_4 .text{
    width:460px;
    color:#666666;
    line-height: 26px;
    font-size: 20px;
    margin-left: 120px;
}
#part_4 .text p{
    margin-top:10px;
}
#part_4 .title{
    position:relative;
    top: -41px;
    margin-left:55px;
}
#part_4{
    height:722px;
    background-image: url("../images/part_4_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
#part_3{
    height:722px;
    background-image: url("../images/part_3_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    overflow:hidden;
}
#part_3 .btn{
    text-align: center;
    /*margin-top:220px;*/
}
#part_3 .title{
    position:relative;
    top: -41px;
    margin-left:55px;
}
#part_2{
    height: 723px;
    background: url(../images/part_2_bg.jpg) center no-repeat;
    overflow: hidden;
}
#part_2 .title{
    width:100%;
    text-align: center;
    margin-top:61px;
}
#part_2  .car{
    float: left;
    margin-left: 81px;
    margin-top: 35px;
}
#part_2 .rightForm{
    float: right;
    width:512px;
    margin-right:8px;
    margin-top:45px;
}
#part_2 .rightForm li{
    float: left;
    width:208px;
    margin-bottom:16px;
}
#part_2 .rightForm li.checkMsg{
    font-size:14px;
    line-height:18px;
    font-weight:bold;
}
#part_2 .rightForm li .btn{
    width:108px;
    height:38px;
    color: #ffffff;
    font-weight:bold;
    text-align: center;
    line-height:38px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #c38c64;
    float: right;
    margin-right:86px;
}
#part_2 .rightForm input[type='checkbox']{
    /*vertical-align: -1px;*/
    margin-top:-2px;
    -webkit-appearance:none;
    appearance:none;
    width:18px;
    height:18px;
    background-image: url(../images/check_off_21.png);
}
#part_2 .rightForm input[type='checkbox']:checked{
    background-image: url(../images/check_on_21.png);
}
#part_2 .rightForm input[type='text'],select,input[type='phone']{
    width: 206px;
    height:36px;
    line-height: 36px;
    /*border: 1px solid #8f8f8f;*/
    color: #8f8f8f;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    font-weight:bold;
    padding-left:10px;
    background: #ffffff;
}
#part_2 .rightForm select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-image: url("../images/selectBg_10.png");
    background-position: right center;
    background-repeat: no-repeat;
}
#part_2 .rightForm #delear{
    width:424px;
}
#part_1{
    height: 674px;
    background-image: url("../images/part_1_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
#part_1 .text{
    margin-left:77px;
    float: left;
    margin-top:80px;
}
#part_1 .logo{
    float: right;
    margin-right: 65px;
    margin-top: 50px;
}
#part_5 {
    width:100%;
    background:url(../images/part_5_bg.jpg) center no-repeat;
    height:708px;
}
#part_5 .descContent{
    width:100%;
}
#part_5 .descContent .desc{
    width:430px;
    float:left;
    margin-top:136px;
    /*margin-right:80px;*/
}
#part_5 .descContent .desc h2{
    font-size:34px;
    line-height:42px;
    margin-top: 24px;
    font-weight:normal;
}
#part_5 .descContent .desc p{
    color: #6e6e6e;
    line-height: 18px;
    margin-top:36px;
}
#part_5 .descContent .nextBtn{
    text-align: right;
    padding-top:58px;
    width: 398px;
}
#part_5 .descContent .miniSwiper{
      width:430px;
      height:346px;
      float: left;
    margin-left:92px;
    margin-top:96px;
}
#part_5 .descContent .miniSwiper .swiper-slide{
    height:346px;
}
#part_5 .title{
    width:292px;
    height: 87px;
    margin:0 auto;
    padding-top: 62px;
}
#part_6{
    height:625px;
    background-color:#fff;
    position:relative;
}
#part_6 .prev{
    position:relative;
    cursor: pointer;
    left: -293px;
    top: -349px;
}
#part_6 .next{
    position:relative;
    cursor: pointer;
    top: -349px;
    right: -593px;
}
#part_6 .swiper-container{
     height: 423px;
     width:100%;
    margin-top:100px;
 }
#part_6 .swiper-container .swiper-slide{
    height: 423px;
    width: 744px;
}
#part_6 .title{
    width:289px;
    height:96px;
    margin:0 auto;
    padding-top:61px;
}
#part_6 .big_video{
    margin:45px auto 77px;
}
#part_6 .play{
    position:absolute;
    cursor:pointer;
    left: 47%;
    top: 35%;
}
#part_6 .big_video img{
    width:893px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    display:block;
    margin:0 auto;
}
#part_6 .video_bar{
    width:100%;
    background-color:#e4e4e4;
    background-image:url(../images/arrow_l.png),url(../images/arrow_r.png);
    background-position:24% center,76% center;
    background-repeat: no-repeat;
}
#part_6 .video_bar img{
    width:250px;
    float:left;
    margin-left:68px;
    cursor:pointer;
}

/*浮动表单*/
.fix_form{
    position:fixed;
    width:380px;
    height:380px;
    border-radius:7px;
    background-color:#e9472d;
    right:20%;
    top:30%;
    overflow:hidden;
    z-index: 2;
}
.fix_form .left_top_arrow{
    width: 0;
    height: 0;
    border-top: 30px solid #333333;
    border-right: 30px solid transparent;
    position:absolute;
    left:0;
    top:0;
}
.fix_form .title{
    font-size:26px;
    font-weight:bold;
    text-align:center;
    width:100%;
    margin:35px 0;
    color:#fff;
}
.fix_form ul{
    margin:0 auto;
    width:340px;
}
.fix_form li{
    float: left;
    /*width:208px;*/
    margin-bottom:12px;
}
.fix_form li.checkMsg{
    font-size:14px;
    line-height:18px;
    font-weight:bold;
}
.fix_form li .btn{
    cursor:pointer;
    width:160px;
    height:38px;
    color: #ffffff;
    font-weight:bold;
    text-align: center;
    line-height:38px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: #333333;
    margin:0 auto;
}
.fix_form input[type='checkbox']{
    /*vertical-align: -1px;*/
    margin-top:-2px;
    -webkit-appearance:none;
    appearance:none;
    width:18px;
    height:18px;
    background-image: url(../images/check_off_21.png);
}
.fix_form input[type='checkbox']:checked{
    background-image: url(../images/check_on_21.png);
}
.fix_form input[type='text'],select,input[type='phone']{
    width: 165px;
    height:36px;
    line-height: 36px;
    color: #000;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    font-weight:bold;
    padding-left:10px;
    background: #ffffff;
}
.fix_form select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-image: url("../images/selectBg_10.png");
    background-position: right center;
    background-repeat: no-repeat;
}
.fix_form #delear{
    width:340px;
}
#part_7{
    height: 723px;
    background-image: url("../images/part_7.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.submit_form{
    width:540px;
}
#part_2 .submit_form{
    margin-left: 520px;
    margin-top: 75px;
}
#part_3 .submit_form{
    margin-top: 220px;
    margin-left: 30px;
}
#part_3 .submit_form input:not([type='checkbox']),#part_3 .submit_form select{
    background-color:#fff;
}
#part_3 .cookie{
    float: left;
    display: block;
    margin-left: 82px;
    margin-top: 301px;
    cursor:pointer;
}
#part_3 .cookie.shrink{
    -webkit-animation:bounceIn 1s .2s ease both;
    -moz-animation:bounceIn 1s .2s ease both;
}
@-webkit-keyframes bounceIn{
    0%{opacity:0;
    -webkit-transform:scale(.3)}
    50%{opacity:1;
    -webkit-transform:scale(1.05)}
    70%{-webkit-transform:scale(.9)}
    100%{-webkit-transform:scale(1)}
}
@-moz-keyframes bounceIn{
    0%{opacity:0;
    -moz-transform:scale(.3)}
    50%{opacity:1;
    -moz-transform:scale(1.05)}
    70%{-moz-transform:scale(.9)}
    100%{-moz-transform:scale(1)}
}
#part_3 .get_vcode{
    background-color:#c3623e;
}
#part_3 .btn1{
    margin-left:0;
    background-color:#c3623e;
}
#part_3 .rule,#part_3 .winner_list{
    margin-left:20px;
    background-color:#736357;
    width:116px;
}
.submit_form li{
    float:left;
    margin-bottom:10px;
}
.submit_form li.checkMsg{
    font-size:14px;
    line-height:18px;
    font-weight:bold;
}
.submit_form li .btn{
    cursor:pointer;
    height:53px;
    color: #ffffff;
    font-weight:bold;
    text-align: center;
    line-height:50px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size:18px;
    float:left;
}
.submit_form .btn1{
    width:260px;
    background: #e9472d;
    margin-left:30px;
    font-size:25px !important;
}
.submit_form .rule{
    width:170px;
    background-color:#4d4d4d;
    margin-left:70px;
}
.submit_form input[type='checkbox']{
    /*vertical-align: -1px;*/
    margin-top:-2px;
    -webkit-appearance:none;
    appearance:none;
    width:18px;
    height:18px;
    background-image: url(../images/check_off_21.png);
}
.submit_form input[type='checkbox']:checked{
    background-image: url(../images/check_on_21.png);
}
.submit_form input[type='text'],select,input[type='phone']{
    width: 260px;
    height:53px;
    line-height: 36px;
    color: #000;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    font-weight:bold;
    font-size:16px;
    padding-left:10px;
    background: #e6e6e6;
}
.submit_form .get_vcode,.submit_form .vcode_count_down{
    width:260px;height:53px;line-height:53px;
    font-size:16px;
    font-weight:bold;
    border-radius:5px;
    color:#fff;
    background-color:#e9472d;
    text-align:center;
    margin-left:10px;
}
.submit_form .get_vcode{cursor:pointer;}
.submit_form .vcode_count_down{display:none;}
.submit_form select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-image: url("../images/selectBg_10.png");
    background-position: right center;
    background-repeat: no-repeat;
}
.submit_form .dealer{
    width:530px;
}
.submit_form .copyright{
    /*margin-bottom:40px;*/
}
.mask{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,.4);
    display:none;
    width:100%;height:100%;
}
.mask .popup{
    width:100%;height:100%;
}
#popup_1{
    background:url('../images/popup_1.png') center no-repeat;
    background-size:600px;
}
#popup_2{
    background:url('../images/popup_2.png') center no-repeat;
    background-size:600px;
}
#popup_cookie_not{
    background:url('../images/popup_cookie_fail.png') center no-repeat;
    background-size:600px;
}
#popup_cookie_win{
    position: relative;
    width:604px;height:583px;
    background:url(../images/popup_cookie_win.png) center no-repeat;
    overflow:hidden;
}
#popup_cookie_win .content>*{
    width:326px;height:45px;
    border-radius: 5px;
}
#popup_cookie_win .content{
    width: 330px;
    height: 221px;
    margin: 242px 0 0 150px;
}
#popup_cookie_win input{
    background:#fff;
    padding-left:25px;
    font-size:16px;color:#000;
    margin:0 auto 7px;
}
#popup_cookie_win .btn{
    text-align:center;
    color:#fff;
    line-height:42px;
    font-weight:bold;
    font-size:20px;
    background:#e9472d;
    margin-top:18px;
    cursor:pointer;
}
#popup_cookie_win .close{
    width:40px;height:40px;
    position:absolute;
    bottom: 32px;
    left: 48%;
}
#popup_win{
    position:relative;
    width:579px;height:844px;
    background:url(../images/popup_win.png) center no-repeat;
    background-size:100%;
    overflow:hidden;
}
#popup_win .content{
    width: 500px;
    height: 300px;
    margin: 395px 0 0 54px;
}
#popup_win .content input{
    width:470px;height:63px;line-height:63px;
    color:#fff;
    background:rgba(0,0,0,.25);border-radius:5px;
    padding-left:34px;
    font-size:20px;
    margin-bottom:12px;
}
#popup_win .content .btn{
    width:472px;height:64px;line-height:64px;
    color:#000;font-size:24px;font-weight:bold;
    text-align:center;
    background:#fdd22b;
    border-radius: 5px;
    margin-top:30px;
}
#popup_win .content .close{
    position:absolute;
    width:47px;height:47px;
    right: 53px;
    top: 53px;
}
.mask>*{display:none;}